<!-- Statrt Header -->
<div class="header" id="header">
  <div class="container">
    <a class="logo">TodoList</a>
    <div class="div">
      <ul class="main-nav">
        <li>
          <a href="#view"><i class="fa fa-home"> </i>&nbsp;&nbsp;Home</a>
        </li>
        <li>
          <a href="#gallery"
            ><i class="glyphicon glyphicon-picture"> </i>&nbsp;&nbsp;gallery</a
          >
        </li>
        <li class="none">
          <a href="#services"
            ><i class="fa fa-laptop"></i>&nbsp;&nbsp;Services</a
          >
        </li>
        <li class="none">
          <a href="#contact"
            ><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact</a
          >
        </li>
      </ul>
      <div class="icons">
        <!-- <li>
          <a [routerLink]="['/signin']"
            ><span class="icon glyphicon glyphicon-log-in"></span
          ></a>
        </li> -->
        <li>
          <a [routerLink]="['/signup']"
            ><span class="icon glyphicon glyphicon-user"></span
          >&nbsp;&nbsp; <h4 class="si">Sign Up</h4>
        </a>
        </li>
      </div>
    </div>
  </div>
</div>
<!-- End Header -->
<!-- Start Up-Button  -->
<div class="btn-back_to_top" style="visibility: visible">
  <a href="#" class="fa fa-arrow-up fa-2x"></a>
</div>
<!-- End Up-Button  -->
<!-- Start Landing -->
<div class="landing" id="view">
  <div class="container">
    <div class="text">
      <h3>I'm</h3>
      <h1><b>Ahmed</b> Ashour Ibrahim.</h1>
      <h2 class="line-1 anim-typewriter">Front End Developer</h2>
      <a
        href="https://drive.google.com/file/d/19zj5NfWCFUGeqfPVLWAdVttP7rkfymuI/view?usp=sharing"
        target="_blank"
        class="badge"
        >Download CV</a
      >
    </div>
    <div class="image">
      <img src="./assets/images/test.png" alt="find error" />
    </div>
  </div>
  <svg
    style="display: flex; margin-top: -255px"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#25292D"
      fill-opacity="1"
      d="M0,128L40,144C80,160,160,192,240,176C320,160,400,96,480,96C560,96,640,160,720,197.3C800,235,880,245,960,234.7C1040,224,1120,192,1200,176C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</div>
<!-- End Landing -->
<!-- Start Gallery -->
<div class="gallery" id="gallery">
  <h2 class="main-title">Gallery</h2>
  <div class="container">
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-01.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-02.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-03.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-04.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-05.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-06.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-07.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-08.PNG" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/images/gallery-09.PNG" alt="" />
      </div>
    </div>
  </div>
  <svg
    style="display: flex; margin: -20px"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#3F464B"
      fill-opacity="1"
      d="M0,128L40,144C80,160,160,192,240,176C320,160,400,96,480,96C560,96,640,160,720,197.3C800,235,880,245,960,234.7C1040,224,1120,192,1200,176C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</div>
<!-- End Gallery -->
<!-- Start Services -->
<div class="services" id="services">
  <h2 class="main-title">Services</h2>
  <div class="container">
    <div class="box">
      <i class="fa fa-flag fa-4x"></i>
      <h3>Single Page Application</h3>
      <div class="info">
        <p></p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-user fa-4x"></i>
      <h3>Signup</h3>
      <div class="info">
        <p>You Can Create Your Acount For The First Time.</p>
      </div>
    </div>
    <div class="box">
      <i class="icon glyphicon glyphicon-log-in fa-4x"></i>
      <h3>Login</h3>
      <div class="info">
        <p>
          You Can Add Your Task With Date , Time , Any File And Notes If You
          Need.
        </p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-refresh fa-4x"></i>
      <h3>Update</h3>
      <div class="info">
        <p>You Can Update All Details In Your Account.</p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-plus fa-4x"></i>
      <h3>Add</h3>
      <div class="info">
        <p>
          You Can Add Your Task With Date , Time , Any File And Notes If You
          Need.
        </p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-edit fa-4x"></i>
      <h3>Edit</h3>
      <div class="info">
        <p>You Can Edit Your Task After Adding If If You Need.</p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-check fa-4x"></i>
      <h3>Done</h3>
      <div class="info">
        <p>You Can Delete Task After Completing It.</p>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-desktop fa-4x"></i>
      <h3>Responsive For All Devices</h3>
      <div class="info">
        <p>
          You Can Delete Task After Completing ItOpen It From Laptop , Desktop ,
          Tablet and Mobile.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Services -->
<!-- Start Discount  -->
<div class="discount" id="contact">
  <h2 class="main-title">Let's Work Together</h2>
  <div class="container">
    <div class="image col-md-6 pull-left">
      <div class="mapouter">
        <div class="gmap_canvas" style="border-radius: 5px;">
          <iframe
            width="100%"
            height="600px"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=%D9%83%D9%84%D9%8A%D8%A9%20%D8%A7%D9%84%D8%AD%D8%A7%D8%B3%D8%A8%D8%A7%D8%AA%20%D9%88%D8%A7%D9%84%D8%B0%D9%83%D8%A7%D8%A1%20%D8%A7%D9%84%D8%A7%D8%B5%D8%B7%D9%86%D8%A7%D8%B9%D9%8A%D8%8C%20%D8%AC%D8%A7%D9%85%D8%B9%D8%A9%20%D8%AD%D9%84%D9%88%D8%A7%D9%86,%20Al%20Sikka%20Al%20Hadid%20Al%20Gharbeya,%20Al%20Masaken%20Al%20Iqtisadeyah,%20Helwan,%20Cairo%20Governorate&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a href="https://putlocker-is.org"></a><br />
          <style>
            .mapouter {
              position: relative;
              text-align: center;
              justify-content: center;
              align-items: center;
            }</style
          ><a href="https://www.embedgooglemap.net">google maps embed zoom</a>
          <style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
            }
          </style>
        </div>
      </div>
    </div>
    <div class="form col-md-6 pull-right">
      <div class="content">
        <h2>
          <pre> Get In Touch </pre>
        </h2>
        <form (submit)="onSubmit(contactForm.value)" #contactForm="ngForm">
          <input
            class="input formcontrol"
            type="text"
            placeholder="Your Name"
            name="name"
            ngModel
            required
          />
          <input
            class="input form-control"
            type="email"
            placeholder="Your Email"
            name="email"
            ngModel
            required
          />
          <input
            class="input form-control"
            type="phone"
            placeholder="Your Phone"
            name="mobile"
            ngModel
            required
          />
          <textarea
            class="input form-control"
            placeholder="Tell Us About Your Needs"
            name="message"
            ngModel
            required
          ></textarea>
          <button
            name="submit"
            type="submit"
            class="btn btn-block create-account"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Discount  -->
<!-- Start Footer  -->
<div class="footer">
  <div class="container">
    <!-- Start Box # 1 -->
    <div class="box">
      <!-- <p class="text">
        Dont Forget To Follow Us And Thanks For Your Interest And Time.
      </p> -->
      <ul class="social">
        <li>
          <a
            href="https://ash356.github.io/Portfolio-01/HTML/"
            class="link"
            target="_blank"
          >
            <i class="fa fa-link"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/ahmedashour_2020/"
            class="instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/a7med3shour2020/"
            class="facebook"
            target="_blank"
          >
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/ahmedas18362884?fbclid=IwAR1w0t76LZK9BZMI1jVvcnYmTGtKwPoSKv8AFIadVd4fVCgr6QUA_Qx1nOU"
            class="twitter"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCdU95owpu8nPvPS7SIbZ8gw"
            class="youtube"
            target="_blank"
          >
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=+201066904391"
            class="whatsapp"
            target="_blank"
          >
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ahmed-ashour-96024a210/"
            class="linkedin"
            target="_blank"
          >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ash356" class="hub" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a
            href="mailto:ashourahmed7070@gamil.com"
            class="envelope"
            target="_blank"
          >
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Box # 1 -->
  </div>
  <div class="copyright col-md-12">
    <h3>
      Made With <i class="fa fa-heart"></i> & <i class="fa fa-coffee"></i>
      &gt; By Ashour &copy;&nbsp;2022
    </h3>
  </div>
</div>
<!-- End Footer  -->
